#report{
    height: stretch;
}
.row{
    margin: 50px 0px;
    display: flex;
    justify-content: center;
}
h4{
    padding-top: 10px;
}
.jumbotron{
    padding-bottom: 20px;
}
.dateInput{
    margin-top: 10px;
    margin-bottom: 15px;    
    display: flex;
    justify-content:center;
    font-size: 1.2em;
}
button{
    padding: 3px 15px;
}

input{
    width:200px;
}
.pad{
    padding: 0px 12px;
    margin: 5px 0px
}
.sel h5{
    font-weight: 800;
}
.dateRange{
    margin-top: 20px;
}

.selectMachines{
    width:100%;
    display: flex;
    justify-content: center;
}
.row{
    margin-right:0px; 
}
.page-header{
    width:100%;
}
.container-fluid{
    overflow-y: auto;
}
.table{
    margin-bottom: 50px;
}
.heading{
    padding-left: 20px;
}
.fas{
    font-size: 20px;
    color: #164b83;
    cursor: pointer;
}
.select{
    position: relative;
    top:50%;
}



    