.jumbotron{
    padding-bottom: 5px;   
    margin-bottom:5px; 
}
h1 span{
    font-size:.7em !important;
}
.maxHeight{
    height: -webkit-fill-available;
}
.innerContainer{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding: 2.5em 0; 
}
dd{
    padding-left: 2em;
}

.tabs{
    display: inline-block;
    background:  #e9ecef;
    padding: 20px;
    margin: 10px;
    justify-content: center
}
form{
    margin-top:50px; 
}
.blockquote-footer{
    font-size: 1em;
    margin-top: 20px; 
}
#deviceLoc{
    font-size: 1.17em;
}