.spacing{
    padding: 0 40px;
}
.maxHeight{
    height: -webkit-fill-available;
}
h1 span{
    font-size: 0.7em;
}
thead{
    background-color: rgb(0,0,0);
    color: white;
    font-weight: bold;
}
.table{
    border-radius:20px !important;
}
