.spacing{
    padding: 2.5em 40px;

}
.maxHeight{
    height:stretch;
}
h1 span{
    font-size: 0.7em;
}
thead{
    background-color: rgb(0,0,0);
    color: white;
    font-weight: bold;
}
.table{
    border-radius:20px !important;
}
#deviceLoc{
    font-size: 1.17em !important;
}
.jumbotron{
    padding-bottom: 5px;   
    margin-bottom:5px; 
}
#place{
    font-size:1em !important;    
}
.blockquote-footer{
    font-size: 1em;
    margin-top: 20px; 
}