.bold{
    font-weight: bold;
}
#deviceLoc{
    font-size: 1.17em !important;
}
.jumbotron{
    padding-bottom: 5px;   
    margin-bottom:5px; 
}
#place{
    font-size:1em !important;    
}
.blockquote-footer{
    font-size: 1em;
    margin-top: 20px; 
}
.dateRange{
    margin-top: 30px;
    display: flex;
    justify-content: center;
    font-size: 1.2em;
}
button{
    padding: 3px 15px;
    background: #33334d;
}
.pad{
    padding: 0px 10px; 
}
.sel2{
    padding-top: 4px;   
}
.container{
    padding-bottom: 60px;
}