.jumbotron{
    padding-bottom: 20px;   
}
h1 span{
    font-size:.7em !important;
}
.innerContainer{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding: 3em;
}
dd{
    padding-left: 2em;
}

.tabs{
    display: inline-block;
    background:  #e9ecef;
    padding: 20px;
    margin: 10px;
    justify-content: center
}
form{
    margin-top:50px; 
}