<div class="row charts doughnut">
        <div class="col-sm-6">
            <chart [type]="type" [data]="data" [options]="options"></chart>
        </div>
        <div class="col-sm-3" >
            <h5 class="pad">
                <span *ngIf = "chartData.absent>=0"><b>Absents</b> : {{chartData.absent}}<br></span>
                <b>Presents</b> : {{chartData.present}}<br>
            </h5>
                <div><ul><li *ngFor = "let present of chartData.presents;">{{present.PunchTime}}</li></ul></div>

        </div>
</div>
      