<link href="https://fonts.googleapis.com/css?family=Sunshiney" rel="stylesheet">
<div class="container-fluid" >
  <!-- Main Navbar  -->
  <div class="nav">
    <nav class="navbar navbar-expand-sm  navbar-dark fixed-top">
      <span>
          <span id="toggleButton" class="bars" (click)="toggle()" ></span>
          <!-- Brand/logo -->
          <span class="col-sm-10">
              <a class="navbar-brand text-center" href="">
                <!-- <span id="enlarge">S</span>WA<span id="fontColor">JAL</span> -->
                <img src="/iiot/assets/images/swajal.png" width="135px">
              </a>
          </span>
          
      </span>

      
      <!-- Links -->
      <ul class="navbar-nav Settings">
        <app-search-devices></app-search-devices>
        <li class="nav-item pad">
          <a class="nav-link" href="#">Settings</a>
        </li>
        <li class="nav-item pad">
          <a class="nav-link" (click)="toggle()" >Logout</a>
        </li>
      </ul>
    </nav>  
     
  </div>
  <!-- Vertical Navbar -->
  <div class="row">
    <div class="col-sm-2" id="verticalCollapse">
        <nav class="navbar verticalNav text-center" >
            <div class="text-center">
                <h3 id="h3">{{title}}</h3>
                <h6>User : {{user}}</h6>
                <br>
                <ul class="navbar-nav text-center">
                    <li class="nav-item dropdown text-center" *ngFor="let nav of dropdownlist" >
                        <a class="nav-link text-center" routerLink="/{{cluster}}/{{id}}/{{nav.id}}"   id="navbardrop" routerLinkActiveOptions="{exact:true}" [class.active-link]="nav.id==currDiv" >
                          {{nav.division}}
                        </a>
                      </li>
                  </ul>
            </div>
          </nav>
    </div>
    <router-outlet></router-outlet>    
  </div>

</div>

