.container-fluid{
    background-color: whitesmoke;
    height: 100%;
}
nav{
    width:100%;
    color: white;
    justify-content: space-between;
    z-index: 100;
    
}
.dropdown .active-link{
    font-weight:800;
    color: white !important;
    border: 1px solid white;
}
.navbar-dark{
    background: #33334d;
    box-shadow: 0px 0px 20px black
}
.row{
    top:80px;
    position: relative;
    height: 100%;
}
.container-fluid{
    padding: 0%;
}
.col-sm-2{
    background: #33334d
}
#fontColor{
    color: #00ccff;
}
#enlarge{
    font-size: 1.6em;
}
.navbar-brand{
    font-size: 1.7em;
    font-family: monospace;
    padding-left: 2.5em ;
    font-family: 'Sunshiney', cursive;
    letter-spacing: 3.5px;
    
}
.nav-link{
    color:white !important  ;
    font-size: 1.1em;
    padding-right: 3em ;
}
.nav .navbar-nav{
    padding-right: 2em ;
}
a{
    padding: 0px 20px;
}
.verticalNav{
    z-index: 0;
    position: fixed;
    width:16%;
    display: block;
}
.spacing{
    padding: 20px;
}
.padTop{
    padding-top: 8px;
}
.dropdown{
  padding: 20px 0px 0px 0px;
}
.dropdown a{
    font-size: 0.9em;
    color: #1cc8e3 !important;
    font-weight: 500;
    font-family: 'Arial';
    text-transform: uppercase;
    padding-right:0px; 
}
.active{
    list-style-type: disc;
}
.dropdown-menu{
    background: none;
}
.dropdown-menu li{
    list-style-type: disc;
    color: whitesmoke !important;
}
.dropdown-menu a{
    color: whitesmoke !important;
}
.dropdown-menu a:hover{
    background: rgb(112, 196, 196);
}
.selected{
    list-style-type: disc;
}
.hide{
    padding-top: 0px;
}
app-water-dispense{
    overflow-y: scroll;
}
.verticalNav a{
    font-size: 1.1em;
    
}
 
.pad a{ 
    padding-top: 5px;
} 
.fa-sign-out-alt{
    font-size:20px;
    cursor: pointer;
}
/* FOR WIDTH<1300px */
@media only screen and (max-width : 1300px){
    .verticalNav{
        opacity: 0;
    }
    #verticalCollapse{
        max-width: 0%;
        display: flex;
        justify-content: center
    }
    .navbar-brand{
        padding-left: 1em;
    }
    h3 {
        font-size: 2vw;
    }
    h6{
        font-size: 1.5vw;
    }
    .verticalNav a{
        font-size: 1.6vw;
        
    }
}
@media only screen and (max-width : 792px) {
    .Settings{
        display: none;
    }
    .navbar-brand{
        padding:0px 20px;
        margin-right: 0px; 
    }
    h3 {
        font-size: 2.5vw;
    }
    h6{
        font-size: 2vw;
    }
    .verticalNav a{
        font-size: 2.2vw;
        
    }
    #collective{
        width: 100% !important;
        display: flex;
        justify-content: space-between
    }
    .bars,.user{
        margin-top: 10px;
    }
}
.pad{
    padding-top: 26px;
}
