.pad{
    padding: 0px 50px;
}
li {
    list-style-type: none
}
label{
    padding-left:10px; 
    padding-right: 10px
}
i{
    color: grey
}
#analysis{
    height: -webkit-fill-available;
    overflow-y: auto;
}
.results{
    background: #e9ecef;
    position: absolute;
    width: 200px;
    margin-left: 100px;
}
.parameterx{
    display: flex;
    justify-content: center
}
.input{
    width:300px;
}
.selected{
 color: royalblue;   
}
.inputs{
    /* display: flex; */
    /* justify-content: center; */
    margin-top: 50px;
    margin-left: 15px;
}

#parameter{
    position: relative;
    margin-top: 20px;
    justify-content: center;
    top : 40%;
}
.chart {
    width:100%;
    margin-top: 60px;
    margin-bottom: 40px;
}
.dateRange{
    margin-top: 30px;
    display: flex;
    justify-content: center;
    font-size: 1.2em;
}
button{
    padding: 3px 15px;
    background: #33334d
}
.pad{
    padding: 0px 10px; 
}
.sel2{
    padding-top: 4px;   
}
@media only screen and (max-width:792px){
    .dateRange{
        font-size: 3vw;
    }
}