<div id="analysis" class="container-fluid">
    <div class="container">
      <div class="jumbotron text-center">
        <div class="page-header">
          <h2>{{title}}</h2>
        </div>
        <div class="addInfo">
            {{addInfo}}<br>
            <h4>
              <b>Analysis</b>
            </h4>
        </div>
      </div>
    </div> 
    <div class="container-fluid">
      <div class="row pad">
          <div class="col-sm-12">
            <h5>
              <b>Select Options</b>
            </h5>
            <div class="row">
              <ul>
                <li *ngFor="let option of options" (click)="fill(option)">
                    <i class="fas fa-check-circle" [class.selected]="option.value==checkfill" ></i>
                    <label>{{option.name}}</label>
                </li> 
              </ul>
            </div>
            <div class="row inputs" *ngIf="checkfillObject">
              <div class="parameters text-center">
                <li *ngFor="let i of checkfillObject.inputs;let rowIndex = index" id="device">
                  <label>Device Id {{i }}:   </label>
                  <input type="text" placeholder="Device Id" [(ngModel)]="checkfillObject.inputs[rowIndex]" name="i">
                </li>
               </div>
               <div class="row chart">
                  <div class="col-sm-3">
                      <li id="parameter">
                          <span *ngFor="let i of checkfillObject.Parameter;let rowIndex = index" >
                            <label>Parameter {{i }}:   </label>
                            <input type="text" placeholder="Parameter y{{i}}" [(ngModel)]="y[rowIndex]" name="i" (keyup)="showresults(input)">
                            <div *ngIf="parameter$" class="results text-center">
                                <li *ngFor="let parameter of parameter$" >
                                  <p (click)="y[rowIndex]=parameter">{{parameter}}</p>
                                </li>
                              </div>
                          </span>
                        </li>
                    </div>
                    <div class="col-sm-9">
                      <div class="text-center parameterx">
                          <li class="input">
                            <label>Parameter:   </label>
                            <input type="text" placeholder="Parameter x" class="parameterX" [(ngModel)]="x" name="x"  (keyup)="showresults(input)">
                            <div *ngIf="parameter$" class="results text-center">
                                <li *ngFor="let parameter of parameter$" >
                                  <p (click)="x=parameter">{{parameter}}</p>
                                </li>
                              </div>
                          </li>

                      </div>
                      <app-analysis-charts [type]="line" [y1]="" [y2]="" [x]="" [chartData]=""></app-analysis-charts>
                      <div class="dateRange text-center">
                          <label for="sel2" class="sel2"><b>Select a custom date range to analyze:</b></label>
                          <br>
                          <div class="from_to">
                              <label for="date"><span class="pad">From:</span> <input id="date_from" type="date" name="from" [(ngModel)]="fromDate" ></label>
                              <label><span class="pad"> To:</span><input id="date_to" type="date" name="to" [(ngModel)]="toDate"></label> 
                          </div>
                          <div class="pad">
                              <button type="submit" class="btn btn-secondary" (click)="generateGraph()">Analyse</button>                        
                          </div>
                      </div>
                    </div>

                </div>
              </div>
          </div>
        </div>
    </div>
</div>



