span{
    font-size: .7em !important;
}
.maxHeight{
    height: -webkit-fill-available;
}
#tabel_paginate a{
    padding: 10px;
}
th span{
    font-size: 1em !important;
}
.blockquote-footer{
    font-size: 1em;
    margin-top: 20px; 
}
#deviceLoc{
    font-size: 1.17em !important;
}
.jumbotron{
    padding-bottom: 5px;   
    margin-bottom:5px; 
}
#place{
    font-size:1em !important;    
}
.table-responsive-sm{
    padding : 2em;
    overflow-x: scroll
}