span{
    font-size: .7em !important;
}
/* .maxHeight{
    height: -webkit-fill-available;
} */
#tabel_paginate a{
    padding: 10px;
}
th span{
    font-size: 1em !important;
}
.blockquote-footer{
    font-size: 1em;
    margin-top: 20px; 
}
#deviceLoc{
    font-size: 1.17em !important;
}
.jumbotron{
    padding-bottom: 5px;   
    margin-bottom:5px; 
}
#place{
    font-size:1em !important;    
}
.table-responsive-xs{
    padding : 2em;
    overflow-x: scroll;
}
.btn-secondary {
    color: #fff;
    background-color: #6c757d;
    border-color: #6c757d;
}

.form_group{
    height: 33px !important;
}
.col-sm-5{
    margin-bottom: 0px;
}
select{
    height:25px;
}
.jumbotron{
    padding-bottom: 5px;   
    margin-bottom:5px; 
}
h1 span{
    font-size:.7em !important;
}
.innerContainer{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding: 2.5em 0; 
}
dd{
    padding-left: 2em;
}

.tabs{
    display: inline-block;
    background:  #e9ecef;
    padding: 20px;
    margin: 10px;
    justify-content: center
}
form{
    margin-top:50px; 
}
.blockquote-footer{
    font-size: 1em;
    margin-top: 20px; 
}
#deviceLoc{
    font-size: 1.17em;
}
.dateRange{
    display: flex;
    font-size: 1.2em;
}
button{
    padding: 3px 15px;
    background: #33334d
}
.pad{
    padding: 0px 10px; 
}
.container{
    padding-bottom: 100px;
}
.sel2{
    padding-top: 4px;   
}

@media only screen and (max-width:792px){
    .dateRange{
        font-size: 3vw;
    }
}
.selected{
    height: -webkit-fill-available;
    
}

