<div *ngIf = "message_success" class="alert alert-success" style="justify-content: center; text-align: center;"><span style="justify-content: center "><b>Success! </b>{{message_success}}</span></div>
<div *ngIf = "message_failure" class="alert alert-danger" style="justify-content: center; text-align: center;"><span style="justify-content: center"><b>Warning! </b>{{message_failure}}</span></div>
<div class="container-fluid maxHeight" style="padding-top: 26px">
   <div class="row">
    <div class= "col text-center ">
      <div class="page-header">
          <h2>Change Password</h2>
      </div>
      <div class="pad">
          <form ngNoForm action="{{url}}/pass_change.php/?user={{userName}}" id="change_pass_form"  onsubmit="this.submit()" method="POST">
            <h6>Current Password:</h6>
            <input type="password" name="curr_pass" required><br><br>
            <h6>New Password:</h6>
            <input type="password" name="new_pass" required><br>
            <h6 style="padding-top: 10px">Confirm Password:</h6>
            <input type="password" name="new_pass_check" required><br><br>
  
            <input type="submit" class="rounded btn-secondary" value="Change Password">
        </form>
      </div>
      <!-- <button id="change_pass_btn" (click)="show('CP')">Change Password</button> -->

    </div><br><br>
  
    <div class = "col text-center" *ngIf="global.admin">
        <div class="page-header">
          <h2>Create New User</h2>            
        </div>
        <div class="pad">
            <form ngNoForm action="{{url}}/create_user.php" id="create_user_form" onsubmit="this.submit()" method="POST">
              <h6>Username:</h6>
              <input type="text"   name="username" required><br><br>
              <h6>Password:</h6>
              <input type="password" name="password" required><br><br>
              <h6>Clusters:</h6>
              <div class="text-left">
                  <div *ngFor = "let cluster of clusters;" class = 'checkbox'  style="display: none;">
                      <input type="checkbox" name="cluster[]" value='{{cluster}}' id="{{cluster}}_create">{{cluster}}<br>
                    </div>
                    <ng-multiselect-dropdown
                      [placeholder]="'Select Clusters'"
                      [data]="Cluster.clusters"
                      [(ngModel)]="selectedItems"
                      [settings]="dropdownSettings"
                      (onSelect)="onItemSelect($event,'_create')"
                      (onDeSelect)="onDeSelect($event,'_create')"
                      (onDeSelectAll)="onDeSelectAll($event,'cluster[]')"
                      (onSelectAll)="onSelectAll($event,'cluster[]')">
                    </ng-multiselect-dropdown>
                  </div><br><br>
              <!-- <span><input type="checkbox" (click)="toggle(this,'cluster[]')" />Select all</span><br/><br> -->
              <div >
                  <h6>Privileges:</h6>
                  <div class="checkbox text-justify">
                  <span *ngFor="let panel of dropdown"><input type="checkbox" name="panel[]" value="{{panel.columnName}}" *ngIf="panel.division!='Analysis'">{{panel.panelName}}<br></span>
                  </div>    
                  <h6><span><input type="checkbox" (click)="toggle(this,'panel[]')" />Select all</span><br/><br></h6>                
              </div>
              <input type="submit" class="rounded btn-secondary" value="Create User">
          </form>
        </div>
    </div><br><br>
    <div class = "col text-center" *ngIf="global.admin">
        <div class="page-header">
            <h2>Edit Users' Privileges</h2>            
          </div>
      <form *ngIf = "1" ngNoForm id="get_user_form" onsubmit="this.submit()" method="POST">
        <div class="pad">
            <h6>Please enter username:</h6>
            <input type="text"   name="username" value="{{UserName}}">
            <input type="submit" class=" btn-secondary" value="Check Privileges" formaction="{{url}}/get_user.php"><br><br>
            <div id="priv" style="visibility: hidden;">
              <h6>Clusters:</h6>
              <div class="text-left">
                <div *ngFor = "let cluster of clusters;" class = 'checkbox' style="display: none">
                    <input id ="{{cluster}}" type="checkbox" name="clusterP[]" value='{{cluster}}'>{{cluster}}<br>
                  </div>
                  <ng-multiselect-dropdown *ngIf="!flag"
                  [placeholder]="'Select Clusters'"
                  [data]="Cluster.clusters"
                  [(ngModel)]="prevClusters"
                  [settings]="dropdownSettings"
                  (onSelect)="onItemSelect($event,'')"
                  (onDeSelect)="onDeSelect($event,'')"
                  (onDeSelectAll)="onDeSelectAll($event,'clusterP[]')"
                  (onSelectAll)="onSelectAll($event,'clusterP[]')">
              </ng-multiselect-dropdown>
              </div><br><br>              
              <h6>Privileges:</h6>
              <div class="checkbox text-justify">
              <input type="checkbox" name="panelP[]" value="Water_Dispensing_Panel">Water Dispensing Panel<br>
              <input type="checkbox" name="panelP[]" value="RO_Parameters">RO Parameters<br>
              <input type="checkbox" name="panelP[]" value="Transaction_Log">Transaction Log<br>
              <input type="checkbox" name="panelP[]" value="Operator_Attendance">Operator Attendance<br>
              <input type="checkbox" name="panelP[]" value="Cup_Dispensing_Panel">Cup Dispensing Panel<br>
              <input type="checkbox" name="panelP[]" value="Supervisor_Data">Supervisor Data<br>
              </div>    
              <h6><input type="checkbox" (click)="toggle(this,'panelP[]')">Select all<br><br></h6>

              <input type="submit" class="rounded btn-secondary" value="Save changes" formaction="{{url}}/edit_user.php">
              <input type="submit" class="rounded btn-secondary" style="margin-left: 1px;" value="Delete User" onclick="return confirm('Warning! The user will be permanently deleted from the database!')" formaction="{{url}}/delete_user.php"><br><br>

              <h6>Change Password:</h6>              
              <input type="password"   name="admin_pass">
              <input type="submit" class="btn-secondary" value="Save" formaction="{{url}}/admin_pass_change.php">
              
            </div>
        </div>

      </form> 
    </div>
  </div>
  
</div>